{{>head }}
{{>navbars }}

<div class="row">
    <div class="col-8">
        <h1>Node js web server</h1>
    </div>
    <div class="col-4">
        <img src="assets/img/nodeimg.png" class="img-thumbnail" alt="" srcset="">
    </div>
</div>

{{>footer}}